.ResultPage {
    text-align: -webkit-center;
    color: white;
    font-size: large;
    overflow: auto;
    padding: 20px;
    text-align: start;
    background-color: #383838;

}

.wrap{
    text-wrap: balance;
}

li {
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: bold;
}

ul {
    text-transform: none;
    font-weight: normal;
}